*{
    margin: 0%;
    padding: 0%;
}

body, html{
    height:100%;
    margin:0;
  
    font-family:sans-serif;
    font-weight:400;
    line-height:1.8em;
    
  }

  .div1{
      background-image: url('../images/background1.jpg');
      width: 100%;
      height: 100%;
      position:relative;
      opacity:0.70;
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
      background-attachment:fixed;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .p1{
      text-align: center;
      
      font-weight: 200;
      color: white;
      
      padding-top: 290px;
       }
       h1{
        border: 2px solid rgb(17, 16, 16);
        display: inline-block;
        background-color: rgb(32, 31, 30);
        height: 60px;
        width: 350px;
        text-align: center;
        padding-top: 24px;
        
        

       }
       .second{
          
           text-align: center;
           background-color: whitesmoke;
           padding: 100px;
       }
       .third{
        background-image: url('../images/section-2.jpg');
        background-size: 100%;
        background-position: center;
        opacity: 0.60;
        text-align: center;
        color:white;
        padding: 200px;
        height: 10px;
    }
    .fourth{
        text-align: center;
        background-color: rgb(49, 47, 47);
        color: whitesmoke;
        padding: 100px;
    
    }
    .fifth{
        background-image: url('../images/bg-3.jpg');
    
        opacity: 0.75;
        background-size: 100%;
        background-repeat: repeat;
        text-align: center;
        color:white;
        padding: 200px;
        height: 10px;
    }
    .fifth h2{
        color: black;
        padding-top: 19px ;
    }

    .three{
        text-align: center;
        background-color: rgb(49, 47, 47);
        color: whitesmoke;
        padding: 100px;
    }
    
       